# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.HotPressing.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\project\visual Studio Project\HotPressing\.idea\.idea.HotPressing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
